{{ $work := promptBoolOnce . "work" "Is this work machine?" false -}}
{{ $email := promptStringOnce . "email" "Git email address" -}}
[data]
    work = {{ $work }}
    email = {{ $email | quote }}
    name = "Daniel Dudziak"

[diff]
  command = "delta"
  pager = "delta"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]

[git]
    autoCommit = true
    autoPush = true
