
encryption = "gpg"
{{ $passphrase := (bitwarden "item" "chezmoi").login.password }}

[data]
    email = "20063579+dandudzi@users.noreply.github.com"
    name = "Daniel Dudziak"
    passphrase = {{ $passphrase | quote }} 

[diff]
  command = "delta"
  pager = "delta"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]

[git]
    autoCommit = true
    commitMessageTemplate = "~/.config/chezmoi_scripts/commit_message.tmpl"
    autoPush = true

[gpg]
    symmetric = true
    args = ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]
