#🍻 Update brew once per day
UPDATE_FILE="$HOME/.last_update"
# Run only if last update was over 24 hours ago
if [ ! -f "$UPDATE_FILE" ] || [ $(date +%s) -gt $(($(cat "$UPDATE_FILE") + 86400)) ]; then
  echo "Updating oh-my-zsh"
  $ZSH/tools/upgrade.sh
  echo "Updating chezmoi dependencies"
  chezmoi update

  echo "Updating oh my zsh"
  omz update

  echo "Updating Homebrew... 🍺"
  brew update
  brew upgrade
  brew cleanup

  echo " Updating tpm plugins"
  ~/.config/tmux/plugins/tpm/bin/update_plugins all

  date +%s >"$UPDATE_FILE" # Save current timestamp
fi
