
[default_session]
preview_command = "eza --all --git --icons --color=always {}"

[[session]]
name = "Downloads"
path = "~/Downloads"
startup_command = "yazi"

[[session]]
name = "Config"
startup_command = 'econfig'


{{ if not .work -}}
[[session]]
name = "Vim Kata"
path = "~/Repos/practice-neovim/Vim-Katas/exercises/"
startup_command= "nvim"
{{ end }}


{{ if .work -}}
[[session]]
name = "Monolit"
path = "/Users/ddudziak/jira"
{{ end }}
